#schoolname
{
    text-align: center;
}

#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}

input
{
    background: grey;
}
.my_nav_bar{
    position:sticky;
    top:0;
    z-index:99999;
    
}